In [4]:
import convokit
from convokit import Corpus, download

In [5]:
corpus = Corpus(filename=download('subreddit-Cornell'))

Dataset already exists at /Users/calebchiam/.convokit/downloads/subreddit-Cornell

Rankers can be used to rank any of the main Corpus object types: Speaker, Utterance, Conversation.

This is how you would use a ranker to rank utterances by their length of utterance text.

In [6]:
ranker = convokit.Ranker(obj_type="utterance", score_func=lambda utt: len(utt.text))

In [7]:
ranker.transform(corpus)

In [8]:
df = ranker.summarize(corpus)

In [9]:
df.head()

         score  rank
id
dicrlqj   9989     1
dbrix3s   9962     2
jctpu     9567     3
d9otjeg   9284     4
31cxog    9132     5

In [11]:
# Sanity check of (rank, score) pairings
utt_sample = list(corpus.iter_utterances())[:10]

sorted([(utt.meta['rank'], utt.meta['score']) for utt in utt_sample], key=lambda x: x[0])

[(6300, 611),
 (7727, 537),
 (10767, 426),
 (15465, 326),
 (21062, 247),
 (30470, 163),
 (73460, 0),
 (73514, 0),
 (73515, 0),
 (73519, 0)]

Note that you can specify the name of the metadata features to store these values in. We demonstrate this in a sorting of Speakers (i.e. the Reddit users) by their number of utterances.

In [13]:
ranker = convokit.Ranker(obj_type="speaker", 
                         score_func=lambda user: len(list(user.iter_utterances())), 
                         score_attribute_name="num_utts",
                         rank_attribute_name="num_utts_rank"
                        )

In [14]:
ranker.transform(corpus)

In [15]:
ranker.summarize(corpus).head(5)

                    num_utts  num_utts_rank
id
[deleted]               8203              1
laveritecestla          1176              2
EQUASHNZRKUL            1010              3
t3hasiangod              942              4
CornHellUniversity       793              5

In [16]:
# Sanity check of (rank, score) pairings
speaker_sample = list(corpus.iter_speakers())[:10]

sorted([(spkr.meta['num_utts_rank'], spkr.meta['num_utts']) for spkr in speaker_sample], key=lambda x: x[0])

[(1, 8203),
 (304, 39),
 (487, 25),
 (1074, 12),
 (1471, 8),
 (1813, 6),
 (2479, 4),
 (3419, 3),
 (4308, 2),
 (4388, 2)]